@media screen and (max-width: 1022px) {
    #menu {
        display: none;
    }

    .content-container {
        width: 90%;
        margin: auto;
        margin-top: 30px;
        display: flex;
        flex-direction: column;

    }

    .category-list h3 {
        font-size: 20px;
        padding : 5px 0;
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .Card {
        cursor: pointer;
        width: 160px;
        height: auto;
        margin-bottom: 20px;
    }

    .sample-image {
        width: 100%;
        height: 118px;
        border-radius: 10px;
        background-color: gray;
        margin-bottom: 2px;
    }

    .category-big{
        display : none;
    }

    .category-small{
        display : none;
    }

    select{
        border: none;
        font-size : 16px;
        margin-bottom : 15px;
    }

    option[disabled]{
        font-weight: bold;
    }
}

@media screen and (min-width: 1023px) {
    #menu {
        width: 100%;
        color: black;
        margin: 0 auto;
        text-align: center;
        background-color: white;
        border: black;
        border-radius: 10px;
    }

    .content-container {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        max-width: 1024px;
        margin-top: 79px;
    }

    .Card {
        cursor: pointer;
        width: 178px;
        height: 155px;
        padding: 10px;
        margin-bottom: 20px;
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .sample-image {
        width: 178px;
        height: 118px;
        border-radius: 10px;
        background-color: gray;
        margin-bottom: 2px;
    }
    
.category-small {
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    margin-bottom: 20px;
}

.category-small button {
    text-align: left;
    width: 100%;
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    color: #808080;
}

.category-big {
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-size: 14px;
}

.category-list>h3 {
    font-size: 22px;
    font-weight: bold;
    margin-block-end: 1em;
}

.category-list>h4 {
    font-weight: bold;
}

select{
    display : none;
}
}




.category-container {
    width: 18%;
    border: none;
    background-color: white;
    min-width: 164px;
    margin-right: 20px;
    float: left;
}




* {
    margin: 0;
    padding: 0;
}

button {
    background-color: #00000000;
    border: none;
    cursor: pointer;
}

ul li {
    list-style: none;
}



#menu>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu>ul>li {
    display: inline-block;
    margin-right: 20px;
    /* 각 항목 사이 간격 조정 */
    position: relative;
    /* 소 카테고리를 위한 상대 위치 */
}

#menu>ul>li>#Category {
    font-size: 19px;
}

#menu>ul>li>button {
    border: none;
    border-radius: 5px;
    background-color: #00000000;
    /* 배경색 설정 */
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}


#submenu {
    display : none;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    background-color: #fafafa;
    font-size: 14px;
    width: 100%;
    max-width: 988px;
    box-shadow: -1px 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    z-index: 10;
    position: absolute;
}

#submenu ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* 아이템을 오른쪽으로 정렬합니다 */
}

#submenu ul>li {
    margin-bottom: 5px;
    margin-right: 37px;
    margin-left: 20px;
}


#submenu ul>li:last-child {
    margin-right: 0px;
}

#submenu ul ul {
    display: block;
    margin: 0;
    padding: 0;
}

#submenu ul ul li {
    margin: 0;
}

#submenu ul ul li button {
    display: block;
    text-align: left;
}

#submenu>ul>li>ul>li>button {
    color: black;
}

#submenu>ul>li>ul>li>ul>li>button {
    color: gray;
}

#submenu>ul>li>ul>li>ul>li:last-child {
    margin-bottom: 10px;
}





.card-name {
    margin-bottom: 2px;
    font-size: 12px;
}


.category-small button.selected {
    color: black;
    font-weight: bold;
}

button,
span {
    display: inline;
    /* 인라인 요소로 표시 */
    white-space: nowrap;
    /* 텍스트가 한 줄로 유지되도록 설정 */
}

.sample-image img{
    width: 100%;
    height: 100%;
    border-radius : 10px;
}