<!DOCTYPE html>
<html lang="ko">

<head>
    <title>구했소</title>
    <meta charset="UTF-8" name="viewport" content="width = device-width, initial-scale = 1">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/home.css">
</head>

<body>
    <div class="menu-container"> <!-- 메뉴바 -->
        <a href="home.html"><img src="img/logo.jpg" alt="Logo" class="logo"></a>
        <div class="search-container">
            <button class="search-button">
                <img src="img/search.png" alt="search-img" class="search-img">
            </button>
            <input type="text" class="search-input" placeholder="검색어를 입력하세요">

        </div>
        <div id=login>
            <button onclick="openPopup()" class="login-button">로그인</button>
            <a href="/signup" class="signup-button">회원가입</a>
        </div>
        <div id="popup" class="popup-overlay">
            <div class="popup-content">
                <span onclick="closePopup()" class="close-btn">&times;</span>
                <h2>로그인</h2>
                <form action="login">
                    <input id="id" type="text" name="id" placeholder="아이디">
                    <input id="password" type="password" name="password" placeholder="비밀번호">
                    <input id="btn_login" type="submit" value="로그인">
                </form>
            </div>
        </div>
        <div id=logout>
            <button onclick="logout()">로그아웃</button>
            <button onclick="goToProfile()">마이페이지</button>
        </div>
    </div>

    <div class="category-container"> <!--카테고리 버튼 7개-->
        <!-- detail.html 로 이동하는 임시 버튼  
        <a href="detail.html" class="category-button car-repair">
            <img src="img/car-repair.png" alt="Button 1" class="button-img">
            <span class="button-text">디테일 페이지 확인</span>
        </a>
        -->
        <div class="banner banner-container"> <!--신장개업 홍보 배너-->
            <div class="banner-item item1">1</div>
            <div class="banner-item item2">2</div>
            <div class="banner-item item3">3</div>
            <div class="banner-item item4">4</div>
            <div class="banner-item item5">5</div>
            <div class="banner-prev-button banner-button">◁</div>
            <div class="banner-next-button banner-button">▷</div>
            <ul class="banner-pagination"></ul>
        </div>
        <button class="category-button car-repair">
            <img src="img/car-repair.png" alt="Button 1" class="button-img">
            <span class="button-text">자동차 정비</span>
        </button>
        <button class="category-button interior">
            <img src="img/home.png" alt="Button 2" class="button-img">
            <span class="button-text">인테리어</span>
        </button>
        <button class="category-button lesson">
            <img src="img/lesson.png" alt="Button 3" class="button-img">
            <span class="button-text">레슨</span>
        </button>
        <button class="category-button making">
            <img src="img/making.png" alt="Button 4" class="button-img">
            <span class="button-text">제작의뢰</span>
        </button>
        <button class="category-button dog">
            <img src="img/dog.png" alt="Button 5" class="button-img">
            <span class="button-text">돌보미</span>
        </button>
        <button class="category-button clean">
            <img src="img/clean.png" alt="Button 6" class="button-img">
            <span class="button-text">청소, 방역</span>
        </button>
        <button class="category-button sport">
            <img src="img/soccer-ball.png" alt="Button 7" class="button-img">
            <span class="button-text">스포츠 용역</span>
        </button>
    </div>

    <div class="top10"> <!--컨텐츠-->
        <h3> TOP 10 </h3>
        <h4> 이번주 인기 서비스를 확인해보세요 </h4>

        <div class="content-container">
            <!-- 샘플 컨텐츠들 -->
            <div class="content">
                <img src="img/car-repair.png" alt="content-img">
                <div class="content-text">
                    <p> 자동차 정비 | 기본 검사 </p> <!--대분류 | 소분류-->
                </div>
            </div>
            <div class="content">
                <img src="img/car-repair.png" alt="content-img">
                <div class="content-text">
                    <p> 자동차 정비 | 기본 검사 </p>
                </div>
            </div>
            <div class="content">
                <img src="img/car-repair.png" alt="content-img">
                <div class="content-text">
                    <p> 자동차 정비 | 기본 검사 </p>
                </div>
            </div>
            <div class="content">
                <img src="img/car-repair.png" alt="content-img">
                <div class="content-text">
                    <p> 자동차 정비 | 기본 검사 </p>
                </div>
            </div>
            <div class="content">
                <img src="img/car-repair.png" alt="content-img">
                <div class="content-text">
                    <p> 자동차 정비 | 기본 검사 </p>
                </div>
            </div>
            <div class="content">
                <img src="img/car-repair.png" alt="content-img">
                <div class="content-text">
                    <p> 자동차 정비 | 기본 검사 </p>
                </div>
            </div>
            <div class="content">
                <img src="img/car-repair.png" alt="content-img">
                <div class="content-text">
                    <p> 자동차 정비 | 기본 검사 </p>
                </div>
            </div>
            <div class="content">
                <img src="img/car-repair.png" alt="content-img">
                <div class="content-text">
                    <p> 자동차 정비 | 기본 검사 </p>
                </div>
            </div>
            <div class="content">
                <img src="img/car-repair.png" alt="content-img">
                <div class="content-text">
                    <p> 자동차 정비 | 기본 검사 </p>
                </div>
            </div>
            <div class="content">
                <img src="img/car-repair.png" alt="content-img">
                <div class="content-text">
                    <p> 자동차 정비 | 기본 검사 </p>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/home/login.js"></script>
    <script src="/js/home/global.js"></script>
</body>

</html>