<!DOCTYPE html>
<html>

<head>
    <title>구했소</title>
    
    <meta charset="UTF-8" name="viewport" content="width = device-width, initial-scale = 1">
    <link rel="stylesheet" href="css/signup.css">
</head>

<body>
    <div class="title-container">
        <a href="/home"><img src="img/logo.jpg" alt="Logo" class="logo"></a>

    </div>
    <div class="sign-up-container">

        <h3 class="sign-up">회원가입</h3>
        <form action="/home" class=input-container id="signup-form">
            <h3>이름</h3>
            <input id="name" type="text" name="name" placeholder="이름(실명)을 입력해주세요" class="input-box">
            <h3>이메일</h3>
            <input id="email" type="text" name="email" placeholder="example@guhatso.com" class="input-box">
            <h3>아이디</h3>
            <input id="id" type="text" name="id" placeholder="guhatso" class="input-box">
            <h3>비밀번호</h3>
            <input id = "password" type="password" name="pw" placeholder="영문+숫자 조합 8자리 이상 입력해주세요" class="input-box">
            <h3>비밀번호 확인</h3>
            <input id = "confirm-password" type="password" name="pw2" placeholder="비밀번호를 입력하세요" class="input-box">
            <input id = "btn_register" type="submit" value="가입하기" class="submit-button">
        </form>
    </div>
    
    <script src="/js/home/register.js"></script>
</body>

</html>